<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>

  <!--
The LogLevel value will enable logging for that value, and all lesser values.
LogLevel value is based off this enum, to double check its up to date, refer to Lta.Shared.Models.CircuitModel.LogLevelEnum
public enum LogLevelEnum
  {
      None = 0,
      Errors = 1,
      Timeouts = 2,
      SuccessfulCalls = 3,
      OpenCircuitFailures = 4,
      All = 5
  }
-->

  <CircuitBreakerConfigSection>
    <Circuits>

      <!--
    Default CircuitModel settings THIS NEEDS TO EXISTS IN ALL CircuitBreaker.Debug.config
     in whichever environments the CircuitBreakerHelper is being used (Lta.Web, Lta.Web.Services.Crm, etc)
    -->
      <Circuit Name="Default">
        <!-- Default attempt Timeout in seconds before the attempt will be counted as a failure -->
        <Timeout Value="300" />
        <!-- Default LimitBreak in number of failures before the specific method call will stop being attempted -->
        <LimitBreak Value="5" />
        <!-- Default Cooldown in seconds -->
        <Cooldown Value="180" />
        <!-- Default LogLevel  (see Lta.Shared.Models.CircuitModel.LogLevelEnum)-->
        <LogLevel Value="All" />
      </Circuit>

    </Circuits>
  </CircuitBreakerConfigSection>
</configuration>
